#wrapper{
	text-align:center;
	padding:0 15px;
	#header{
		width:200px;
		margin:auto;
	}

	}
	
#main-content{
	padding-top: 25px;
	@include pie-clearfix();
	text-align:justify;
}
.gallery{

	height:500px;

	white-space: nowrap;
	overflow:auto;
	a{display:inline;}
	img{display: inline;}

}
#footer{
	text-align:right;
	padding-top:100px;
}

@media (min-width: 800px) {
	#wrapper{
	text-align:left;
	padding:0 20px;
	}
	#main-content{
		margin-left:225px;
	}
	#header{
		float:left;
		margin-right:28px;
		width:200px;
	}
	#footer{
		text-align:right;
	}
}