body {
	color:$grey;
	font-family:$sans-family;
}

h1, h2, h3, h4, h5, h6{
	@include trailer(0.5);
	@include leader(0.5);
	font-family:$serif-family;
	text-transform: uppercase;
}

h1, h1 a, h2, h2 a {
	color:$accent;
}

h1{
	@include adjust-font-size-to(37px);
}
h2{
	@include adjust-font-size-to(22px);
	font-weight:400;	
	text-transform: capitalize;
	&.page-title{margin-top:39px;}
}
h3{
	@include adjust-font-size-to(21px);
	font-weight:400;	
}

h4{
	margin:0;
	@include adjust-font-size-to(19px);
	font-weight:400;
	color:$dark-grey;
}

h5{
	@include adjust-font-size-to(14px);
	font-weight:400;
	font-family:$sans-family;
}

a {
	color:$dark-grey;
	text-decoration: none;
}
a:hover {
	color:$accent;
}