$grey : #A8A8A8;
$medium-grey: #666;
$dark-grey : #333;
$white: #fff;
$accent: #F9B6A8;
$border-light:#CCCCCC;
$border-dark:#999999;

$base-font-size:14px;
$base-line-height:24px;
@include establish-baseline;


$baseline : $base-line-height;
$baseheadingfont : inherit;
$baseheadingfontweight : bold;
$baseheadingfontcolor : inherit;

$sans-family: "Century Gothic", Helvetica, Arial, sans-serif;
$serif-family: "Century Gothic", Helvetica, Arial, sans-serif;
$mono-family: Monaco, Menlo, Consolas, "Courier New", monospace;